<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Hier ist deine Haustierarztverwaltung!</h1>
    <h7> Zum speichern, hinzufügen, aktualisieren und löschen von Haustieren</h7>
    Datum: <span th:text="${today}"></span>


     <a href="/haustier/list">haustier list</a>
      <!--   <a th: href="@{/haustier/list">Haustier List</a> -->

</div>
</body>
</html>